@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
.about{
    background-image: url(../../images/inner.jpg);
    background-position: center center;
    background-size: cover;position: relative;
}
.svg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.layer{
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
}
.aboutHeader{
    color: white !important;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif !important;
}
.choose{
    background-color: #fdf9f5;
}
.icon{
    color: #caafa8 !important;
}
.box{
    box-shadow: 0 0.275rem 1.25rem -0.0625rem rgb(0 0 0 / 5%) !important;
}
.testimonial{
    background-color: #fdf9f5;
}
.carouselInner{
    background-color: #caafa8;
    border-radius: 10px;
}

.gradiant{
    background: linear-gradient(140deg, #fff 20% ,#caafa8 20%)
}

.carouselIndicator [data-bs-target]{
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  position: relative;
  bottom: 100px ;
}