@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
.footer{
    background-color: #caafa8;
}
.hebe{
    color: white !important;
    font-weight: bold !important;
    text-align: center !important;
    font-size: 50px !important;
    font-family: 'Playfair Display', serif !important;
}